<!--sidebar-->
<!-- <c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  style="font-size: 90%;background-color: #422B71;"
  visible
>
  <c-sidebar-brand style="background-color:white"
    [brandFull]="{
      src: 'https://www.engagely.ai/wp-content/uploads/2021/08/Engagely-Logo-23-2.png',
      width: 200,
      height: 35,
      alt: 'CoreUI Logo'
    }"
    [brandNarrow]="{
      src: 'https://www.engagely.ai/wp-content/uploads/2021/08/Engagely-Logo-23-2.png',
      width: 46,
      height: 46,
      alt: 'CoreUI Logo'
    }"
    routerLink="./"
  > -->
  <!-- </c-sidebar-brand> -->
  <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
    <!-- <perfect-scrollbar [config]="perfectScrollbarConfig">
  <c-sidebar-nav
    [navItems]="navItems"
  >
  </c-sidebar-nav>
    </perfect-scrollbar> -->
  <!-- <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  ></c-sidebar-toggler> -->
<!-- </c-sidebar> -->

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky"  style="color: #422B71!important;" position="sticky" sidebarId="sidebar"></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
