body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container-card{
  margin: 20px;
}
.row{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-02{
  background-color: white;
  position: relative;
  flex: 1;
  max-width: 550px;
  height: 270px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.card-03{
  background-color: white;
  position: relative;
  flex: 1;
  max-width: 1200px;
  height: 270px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-04{
  background-color: white;
  position: relative;
  flex: 1;
  max-width: 1200px;
  height: 500px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.card-05{
  background-color: white;
  position: relative;
  flex: 1;
  max-width: 550px;
  height: 500px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-value{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  word-spacing: 0;

}

.card-sub-title{
  text-align: center;
}
.card-title{
  font-size: 15px;
  margin: 10px;  
}

th{
  border-top: 1px solid #CECECE;
  background: #F8F8F8;
  text-align: left;
  font-size: 12px;
  color: black;
}

tr{
  text-align: left;
  color: black;
}

td{
  color: black;
  font-size: 14px;
}