
  <div class="container-card">
    <div class="row">
    <div class="card-03 card">
      <h1 class="card-title" style="font-weight: bold;color: black;font-size: 16px;">Agent stats</h1>
        <table style="margin: 14px -28px 24px;">
          <tr>
          <td>
            <p class="card-sub-title">Total Login Agent</p>
            <p class="card-value" >{{agentOverviewValue[0].agents_online}}</p>
          </td>
          <td>
            <p class="card-sub-title">Agents on break</p>
            <p class="card-value" >{{agentOverviewValue[0].agents_break}}</p>
          </td>
          <td>
            <p class="card-sub-title">Idle Agents</p>
            <p class="card-value" >{{agentOverviewValue[0].agents_idle}}</p>
          </td>
      
          <td></td>
          <td rowspan="4" style="border-left: 1px solid #CDD0D4;">
            <p class="card-sub-title">Connect Rate</p>
            <p class="card-value">{{agentOverviewValue[0].call_utilization}}%
              <span *ngIf="agentOverviewValue[0].call_utilization < 50" style="font-size:50%;color:red;">&nbsp;-low</span>
              <span *ngIf="agentOverviewValue[0].call_utilization == 50" style="font-size:50%;color:#9DA5B1;">&nbsp;-Average</span>
              <span *ngIf="agentOverviewValue[0].call_utilization > 80" style="font-size:50%;color:#78F596;">&nbsp;-good</span></p>
          </td>
          </tr>
          <hr style="width: 234%;margin-left: 52%;margin-top: 1%;">
          <tr>
          <td>
            <p class="card-sub-title">Total Ongoing Call</p>
            <p class="card-value" >{{agentOverviewValue[0].ongoing_calls}}</p>
          </td>
          <td>
            <p class="card-sub-title">Call on Hold</p>
            <p class="card-value" >{{agentOverviewValue[0].ongoing_calls}}</p>
          </td>
          <td>
            <p class="card-sub-title">Inbound Call</p>
            <p class="card-value" >{{agentOverviewValue[0].ongoing_calls}}</p>
          </td>
          <td>
            <p class="card-sub-title">Outbound Call</p>
            <p class="card-value" >{{agentOverviewValue[0].ongoing_calls}}</p>
          </td>
          </tr>
          </table>
    </div>
    <div class="card-02 card">
      <h1 class="card-title" style="font-weight: bold;color: black;font-size: 16px;">Queue stats</h1>
      <table style="margin: 25px 0px 3px">
        <tr>
        <td>
          <p class="card-sub-title">Total Call in Queue</p>
          <p class="card-value">{{agentOverviewValue[0].queued_calls}}</p>
        </td>
        <td>
          <p class="card-sub-title">Avg Wait Time</p>
          <p class="card-value">{{agentOverviewValue[0].avg_wait_time}}</p>
        </td>
      </tr>
      <tr>
        <!-- <td colspan="2">
          <p class="card-sub-title">Highest Wait Time</p>
          <p class="card-value">{{agentOverviewValue.avg_wait_time}}</p>
        </td> -->
      </tr>
      </table>
    </div>
  </div>
  </div>
  

  <div class="container-card">
    <div class="row">
    <div class="card-04 card">
      <div style="margin: 8px -6px -2px -6px;">
        <div style="float: left;">
        <h1 class="card-title" style="font-weight: bold;color: black;">Agent Overview</h1>  
      </div>
      <div style="float: right;">
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
        [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="Enter text to search"  
        autofocus>
      </div>
    </div>
      <table [striped]="true" cTable  color="#FCECEC" style="width: 102.3%;margin: 8px -14px 36px;border-left: 2px solid #CECECE;border-right: 1px solid #CECECE;">
        <thead>
        <tr>
          <th scope="col">Agents</th>
          <th scope="col">Phone No </th>
          <th scope="col">Call Duration</th>
          <th scope="col">Queue/Team team</th>
          <th scope="col">Work Status</th>
          <th scope="col">Status Time</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of updatedRowData | filter:searchText | paginate: { itemsPerPage: 9, currentPage: p1 }">
            <td>{{entry.agent.agent_name}}</td>
            <td>{{entry.customer_no}}</td>
            <td>
              <span *ngIf="getElapsedTime(entry) as elapsed">
                {{elapsed.hours}} h {{elapsed.minutes}} m {{elapsed.seconds}} s
              </span>
            </td>
            <td>{{entry.voice_queue}}</td>
            <td>{{entry.work_status}}</td>
            <!-- <td>{{entry.status_time}}</td> -->
            <td>
              <span *ngIf="getOfflineTime(entry) as elapsed">
                {{elapsed.hours}} h {{elapsed.minutes}} m {{elapsed.seconds}} s
              </span>
            </td>
            <td>
              <!-- <i  class="fas fa-exclamation-triangle"></i> -->
              <i *ngIf="entry.work_status=='idle' || entry.work_status=='offline' || entry.work_status=='break'" title="{{entry.status}}" style="color:#F9A1A1" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <i *ngIf="entry.work_status=='on_call'" style="color:#B9E5BC" class="fa fa-check-circle" aria-hidden="true"></i>
              <!-- <i *ngIf="entry.work_status=='idle'" class="fas fa-exclamation-triangle"></i> -->
              <!-- <i *ngIf="entry.work_status=='idle'" class="fas fa-exclamation-triangle"></i> -->
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="updatedRowData.length > 9" style="margin: -34px 29%">
      <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
    </div>
    </div>
    <div class="card-05 card">
      <div style="margin: 8px -6px -2px -6px;">
        <div style="float: left;">
        <h1 class="card-title" style="font-weight: bold;color: black;">Queued calls</h1>  
      </div>
      <div style="float: right;">
        <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
        [(ngModel)]="searchQueuedText" [ngModelOptions]="{standalone: true}" placeholder="Enter text to search" 
        autofocus>
      </div>
    </div>
      <table  [striped]="true" cTable  color="#FCECEC" style="width: 105.3%;margin: 8px -12px 36px;border-left: 1px solid #CECECE;border-right: 2.5px solid #CECECE;">
        <thead>
          <tr>
            <th scope="col">Queue Phone No</th>
            <th scope="col">Queue Wait time</th>
            <th scope="col">Queue/Team Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of queuedRowData | filter:searchQueuedText | paginate: { itemsPerPage: 9, currentPage: p2 }">
            <td>{{entry.customer_no}}</td>
            <td>
              <span *ngIf="getQueuedElapsedTime(entry) as elapsed">
                {{elapsed.hours}} h {{elapsed.minutes}} m {{elapsed.seconds}} s
              </span>
            </td>
            <td>{{entry.voice_queue}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="queuedRowData.length > 9" style="margin: -2.5% 0%;">
        <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
      </div>
    </div>
  </div>
  </div>
  
  <!-- <div class="container">
    <div class="column-1 card">
      <span class="iconify" data-icon="cil:info"></span><h1 class="card-title" style="font-weight: bold;">Agent Overview</h1>
        <table cTable>
          <thead>
          <tr>
            <th scope="col">Agent</th>
            <th scope="col">Phone No </th>
            <th scope="col">Call Duration</th>
            <th scope="col">Queue/Team team</th>
            <th scope="col">Work Status</th>
            <th scope="col">Status Time</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of updatedRowData | paginate: { itemsPerPage: 20, currentPage: p1 }">
              <td>{{entry.agent.agent_name}}</td>
              <td>{{entry.customer_no}}</td>
              <td>
                <span *ngIf="getElapsedTime(entry) as elapsed">
                  {{elapsed.hours}} h {{elapsed.minutes}} m {{elapsed.seconds}} s
                </span>
              </td>
              <td>{{entry.voice_queue}}</td>
              <td></td>
              <td></td>
              <td>{{entry.status}}</td>
            </tr>
            <div *ngIf="updatedRowData.length > 10" style="float: right">
            <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
          </div>
          </tbody>
        </table>
    </div>
    <div class="column-2 card" style="width: 100%;height: 482px;">
      <h1 class="card-title" style="font-weight: bold;">Queued calls</h1>
      <table cTable>
        <thead>
          <tr>
            <th scope="col">Queue Phone No</th>
            <th scope="col">Queue Wait time</th>
            <th scope="col">Queue/Team Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of queuedRowData | paginate: { itemsPerPage: 20, currentPage: p2 }">
            <td>{{entry.customer_no}}</td>
            <td>
              <span *ngIf="getQueuedElapsedTime(entry) as elapsed">
                {{elapsed.hours}} h {{elapsed.minutes}} m {{elapsed.seconds}} s
              </span>
            </td>
            <td>{{entry.voice_queue}}</td>
          </tr>
          <div *ngIf="updatedRowData.length > 10" style="float: right">
            <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
          </div>
        </tbody>
      </table>
    </div>
  </div> -->
  <!-- <ag-grid-angular style="width: 104%;height: 423px;margin-left: -2%;"  
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  id="myGrid"
  (gridReady)="changeRowDataEvent($event,'')">
  </ag-grid-angular> -->