<!-- 
  <c-row>
    <c-col xs="12">
      <app-docs-callout href="charts">
        Angular wrapper component for Chart.js 3.6, the most popular charting library.
        <br>
      </app-docs-callout>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Bar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Line Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="line" [data]="chartLineData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Doughnut Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Pie Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Polar Area Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="polarArea" [data]="chartPolarAreaData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Radar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="radar" [data]="chartRadarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row> -->

  <!-- <div class="row card-group" >
    <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="column-1 card">
      <h1 class="card-title">Agent stats</h1>
      <div class="card-body">
        <div class="row">
          <div class="column">
              <p class="card-sub-title">Total Login Agent</p>
              <p class="card-value" >11</p>
          </div>
          <div class="column">
            <p class="card-sub-title">Agents on break</p>
            <p class="card-value" >11</p>
          </div>
          <div class="column">
            <p class="card-sub-title">Idle Agents</p>
            <p class="card-value" >11</p>
          </div>
          <div class="column">
            <p class="card-sub-title">Connect Rate</p>
            <p class="card-value">80%<span style="color:#78F596;">&nbsp;-good</span></p>
          </div>
        </div>
        <!-- <div class="vl"></div> -->
        <div class="row">
          <div class="column">
            <p class="card-sub-title">Total Ongoing Call</p>
            <p class="card-value" >11</p>
          </div>
          <div class="column">
            <p class="card-sub-title">Call on Hold</p>
            <p class="card-value" >11</p>
          </div>
          <div class="column">
            <p class="card-sub-title">Inbound Call</p>
            <p class="card-value" >11</p>
          </div>
          <div class="column">
            <p class="card-sub-title">Inbound Call</p>
            <p class="card-value" >11</p>
          </div>
        </div>  
      </div>
    </div>
    <div class="column-2 card" style="width: 100%;">
      <h1 class="card-title">Queue stats</h1>
      <div class="row" style="    margin-top: 3%;">
        <div class="column" style="width: 52%;">
            <p class="card-sub-title">Total Call in Queue</p>
            <p class="card-value">11</p>
        </div>
        <div class="column" style="width: 48%;">
            <p class="card-sub-title">Avg Wait Time</p>
            <p class="card-value">11</p>
        </div>
      </div>
      <div class="row">
        <div class="column" style="width: 51%;margin-left: 27%;">
            <p class="card-sub-title">Highest Wait Time</p>
            <p class="card-value">11</p>
        </div>
      </div>    
    </div>
  </div>
  <div class="container">
    <div class="column-1 card">
      <h1 class="card-title">Agent stats</h1>
        <ag-grid-angular style="width: 104%;height: 423px;margin-left: -2%;"  
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        id="myGrid"
        (gridReady)="changeRowDataEvent($event,'')"
        >
        </ag-grid-angular>
    </div>
    <div class="column-2 card" style="width: 100%;height: 482px;">
      <h1 class="card-title">Agent stats</h1>
      <ag-grid-angular style="width: 112%;height: 423px;margin-left: -6%;"  
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      id="myGrid"
      (gridReady)="changeRowDataEvent($event,'')">
      </ag-grid-angular>
    </div>
  </div>