.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    background-color: white
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;background-color: white}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
    margin: 1rem;
  }

.card-title{
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.vl {
  border-left: 6px black;
  height: 500px;
}
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .column-1 {
    flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
    flex-basis: 70%; /* sets initial width to 70%*/
  }
  
  .box {
    background-color: rgb(245, 215, 160);
    padding: 10px;
    border-radius: 12px;
    border: 2px solid rgb(116, 113, 113);
    margin: 1rem;
    box-shadow: 1px 1px 1px #000;
  }
  
  @media only screen and (max-width: 900px) {
    .container {
      flex-direction: column;
    }
  
    .card {
      margin: 0 0 1rem;
    }
  }


  .card-sub-title{
    // font-family: 'Segoe UI';
    // font-weight: regular;
    font-size: 14px;
    text-align: center;
    color: black;
  }

  .card-value{
    // font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: black;
  }
  